.c-sport-card {
    width: 100%;
    box-shadow: 0 .125rem .25rem #ccc;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.c-sport-label {
    width: 100%;
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.at-list {
    width: 100%;
}
.c-sport-picker {
    width: 85%;
    margin-bottom: 2rem;
}