.c-study-center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-study-card {
    box-shadow: 0 .125rem .25rem #ccc;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


.c-study-label {
    width: 100%;
    display: flex;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.c-study-label2 {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

.c-study-time-picker {
    width: 6rem;
    border: 2px solid #5c7d79;
    border-radius: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    text-align: center;
}

.c-study-textarea {
    border: 5px solid #5c7d79;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}


.c-study-picker {
    width: 85%;
    margin-bottom: 1rem;
}
